:root {
  background-color: #f4f6fa;
  font-family: sans-serif;
}

b{
  font-weight: 600;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.filterButton{
  font-size: 16px;
  background-color: #f4f6fa; 
  border: 0;
  margin: 0 2px;
  padding: 8px 12px;
  border-radius: 30px;
}

.filterButton:hover{
  transform: scale(1.1);
}
.filterButton-active{
  background-color: #e1e4ea;
}

.emailRow{
  font-size: 15px;
  color: #636363;
  background-color: #fff;
  border: 1px solid #e1e4ea;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  padding: 10px 30px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  min-width: 430px;
}

.emailRow h3{
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}

.emailRow p{
  margin :1rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

.clickedEmailRow{
  border:1px solid #e54065;
}

.clickedEmailRowBody{
  width:350px
}

.readEmailRow {
  background-color: #f2f2f2;
}

.profileIcon{
  height:48px;
  border-radius: 25px;
  background-color: #e54065;
  color:#fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem 1rem;
  margin-right: 1.5rem;
  box-sizing: border-box;
}

.favorite{
  color:#e54065;
  margin-left: 1.5rem;
  font-weight: bold;
}

.favoriteButton{
  background-color: #e54065;
  color: white;
  border: none;
  height: 35px;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem ;
  box-sizing: border-box;
  float: right;
  margin-top:-3.75rem;
}

.main-container{
  display: flex;
  margin-left : 3rem;
}

.email-container{
  flex-grow: 1;
  margin-right: 2rem;
}

.emailBody{
  
  height : 78vh;
  background-color: #fff;
  padding:2rem;
  margin-right: 3rem;
  border: 1px solid #e1e4ea;
  border-radius: 12px;
  color:#636363;
  display: flex;
  justify-content: flex-start;
}

.emailBody h1{
  margin:0;
  margin-bottom: 1.5rem;
}