:root {
  background-color: #f4f6fa;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.filterButton{
  font-size: 16px;
  background-color: #f4f6fa; 
  border: 0;
  margin: 0 2px;
  padding: 8px 12px;
  border-radius: 30px;
}

.filterButton:hover{
  background-color: #e1e4ea;
}
.filterButton-active{
  background-color: #e1e4ea;
}